@media (max-width:750px) {
    #navbar {
        /* position: relative; */
        width: 90%;
        height: 9vh;
        top: 4%;
        padding: 3vh 7vw;
        flex-direction: column;
        align-items: start;
    }
    
    #navbar #tags {
        flex-direction: column;
        gap: 3.8vh;
    }
    #navbar #tags a{
        font-size: 3.5vw;
        opacity: 0;
    }

    #page1 #text {
        padding: 37vh 0vw 0 0vw;
        gap: 1vh;
        height: 100%;
    }

    #page1 #text h1 {
        font-size: 6.5vw;
    }

    #page1 #text p {
        font-size: 3.5vw;
        padding: 6vw;
        line-height: 1.5;
    }

    #page1 #text button {
        padding: 1.2vh 5vw;
    }

    #page1 #box{
        flex-direction: column;

    }
    #page1 .card{
        width: 90%;
        height: 30vh;
        padding: 1.5vh 5vw;
    }

    #page1 .card #circle{
        width: 20vw;
        height: 20vw;
        padding: 3.5vw;
    }

    #page1 .card h2{
        font-size: 5vw;
    }

    #page1 .card  p{
        font-size: 3.5vw;
        line-height: 1.6;
    }
}